
/*** GENERAL ***/ 


html {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: large;
}

body {
    margin-top: 0px;
}

header, main {
    max-width: 1600px;
    margin:auto;
}

.lineHeightCards {
    line-height: 7px;
}

.marginTitle {
    margin-top: 7%;
    margin-bottom: 3%;
    margin-right:3%;
}

.marginTitleAccomodations {
    margin-top: 5%;
    margin-right:3%;
}


/*** Flexbox ***/


.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*** COLORS ***/


.colorBlue {
    color: #0065FC;
}

.colorLightBlue {
    color: #DEEBFF;
}

.colorGrey {
    color: #d9d9d9;
}

.colorBlack {
    color: black;
}

.colorLink {
    color:black
}

.backgroundBlue {
    background-color: #0065FC;
}

.backgroundLightBlue {
    background-color: #DEEBFF;
}

.backgroundGrey {
    background-color: #F2F2F2;
}

.backgroundAccomodations {
    background-color: #F2F2F2;
}


/*** CANCEL DECORATION ***/


.noDecoration {
    text-decoration: none;
    list-style: none;
}

.borderNone {
    border: none;
}


/*** TEXT ***/


.textBold {
    font-weight: bold;
}


/*** NAV ***/


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navHeight {
    height: 130px;
}

.linksContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 150px;
}

.borderNav {
    border-top: 5px solid transparent;
}

.borderNav:hover {
    border-top: 5px solid #0065FC;
    cursor: pointer;
}

.borderNav:hover > .colorLink {
    color: #0065FC;
}


/*** SEARCH BAR ***/


.search {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold; 
}

.borderSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #F2F2F2;
}

.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.paddingSearch {
    padding-left: 20px;
}

.buttonSearch {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

#searchLogo {
    display: none;
}

.buttonSearch:hover {
    background-color: #0257d6;
}

/*** FILTERS ***/


.marginFilter {
    margin-top: 50px;
    margin-bottom: 30px ;
}

.marginFilterTitle {
    margin-right: 20px;
}

.filter {
    display: flex;
    align-items: center;
}

.filterCategories {
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.filterIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #DEEBFF;
}

.filterText {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}

.filterCategories:hover > .filterIcons {
    background-color: #5498fd;
    color: rgb(255, 255, 255);
}

.filterCategories:hover > .filterText {
    color: #277cfc;
}

.info {
    display: flex;
    align-items: center;
    padding-bottom: 1%;
    margin-left: 5px;
}

.circle {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}


/*** Accomodations ***/


.accomodations {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sizeAccommodationsArea {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}

.containerPadding {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.containerAccomodations-1 {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerAccomodations-2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.accomodationCard {
    background-color: white;
    width: 30%;
    height: auto;
    padding: 1%;
    border-radius: 20px;
}

.descriptionAccomodation {
    width: 90%;
}

.descriptionAccomodationsTitle {
    margin-top: 10px;
    margin-bottom: -15px;
}

.pictureAccomodations {
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}


/*** POPULAR ACCOMODATIONS ***/


.sizePopularAccomodationsArea {
    flex: 1;
    height: 650px;
    border-radius: 10px;
    margin-left: 20px;
}

.globalContainerPopularAccomodations {
    padding-left: 20px;
    padding-right: 20px;
}

.popularAccomodationCard {
    background-color: white;
    padding: 1.5% 0 1.5% 1.5%;
    border-radius: 20px;
}

.popularAccomodationCardMargin {
    margin-bottom: 20px;
}

.descriptionPopularAccomodation {
    height: 150px;
    width: 60%;
    padding-left: 5%;
    padding-bottom: 5px;
}

.picturePopularAccomodations {
    object-fit: cover;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}


/*** ACTIVITIES ***/


.activities {
    margin-top: 50px;
    margin-bottom: 50px;
}

.titlePosition {
    height: 70px;
}

.activitiesTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}

.globalContainerActivities-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 600px;
    
}

.globalContainerActivities-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 550px;
}

.containerActivities-1 {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}

.containerActivities-2 {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}

.pictureLargeActivities {
    object-fit: cover;
    width: 100%;
    height: 480px;
    border-radius: 15px 15px 0 0;
}

.pictureMediumActivities {
    object-fit: cover;
    width: 100%;
    height: 220px;
    border-radius: 15px 15px 0 0;
}

.pictureMediumActivities-2 {
    object-fit: cover;
    width: 100%;
    height: 190px;
    border-radius: 15px 15px 0 0;
}

.pictureSmallActivities {
    object-fit: cover;
    width: 100%;
    height: 140px;
    border-radius: 15px 15px 0 0;
}

.pictureSmallActivities-2 {
    object-fit: cover;
    width: 100%;
    height: 170px;
    border-radius: 15px 15px 0 0;
}


/*** FOOTER ***/


.footer {
    height: 250px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerMarginsLeft {
    margin-left: 8%;
}

.footerMarginRight {
    margin-right: 28%;
}


/*** IPHONE 8 ***/


@media screen and (max-width: 767px) {


    /*** RESPONSIVE : NAV ***/


    body {
        margin-top: 0px;
    }
    
    header, main {
        margin:0;
        padding: 0;
    }

    #logo {
        padding-top: 20px;
        padding-left: 15px;
    }
    
    .navHeight {
        height: 150px;
        width: 100%;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .linksContainer {
        margin-top: -50px;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        width: 100%;
    }
    
    #subscribeLink {
        flex:1;
        justify-content: flex-end;
        padding-right: 20px;
        border: none;
    }

    #accomodationLink {
        border-bottom: 2px solid #0065FC;
    }
    #accomodationLink > .colorLink {
        color: #0065FC;
    }
    
    .link {
        display: flex;
        align-items: center;
        height: 50px;
        width: 50%;
    }
    
    .borderNav {
        border-bottom: 2px solid #dbdada;
    }
    
    .borderNav:hover {
        border-top: 5px solid transparent;
        color: black;
    }
    
    
    /*** RESPONSIVE : SEARCH BAR ***/


    .search {
        height: 50px;
        width: 100%;
        font-size: 18px;
        color: black;
        font-weight: bold; 
    }

    .borderSearch {
        width: 100%;
        border-radius: 10px;
        border: 0.5px solid #F2F2F2;
    }

    .iconSize {
        height: 50px;
        width: 50px;
        border-radius: 10px 0 0 10px;
    }

    /* .paddingSearch {
        padding-left: 20px;
    } */

    .buttonSearch {
        height: 50px;
        width: 50px;
        color: white;
        cursor: pointer;
        border-radius: 10px;
    }

    .buttonSearch:hover {
        background-color: #0257d6;
    }

    #searchText {
        display: none;
    }

    #searchLogo {
        display: block;
    }


    /*** RESPONSIVE : FILTERS ***/


    .marginFilter {
        margin-top: 10px;
        margin-bottom: 10px ;
    }
    
    .filter {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    .marginFilterTitle {
        width: 100%;
    }
    
    .filterCategories {
        border: 2px solid #F2F2F2;
        height: 50px;
        border-radius: 30px;
        margin: 7px;
    }
    
    .filterIcons {
        margin-left: -2px;
        border-radius: 25px;
        width: 52px;
        height: 52px;
        color: #0065FC;
        background-color: #DEEBFF;
    }
    
    .filterText {
        height: 50px;
        padding: 10px;
        border-radius: 0 25px 25px 0;
    }
    
    .filterCategories:hover > .filterIcons {
        background-color: #5498fd;
        color: rgb(255, 255, 255);
    }
    
    .filterCategories:hover > .filterText {
        color: #277cfc;
    }
    
    .info {
        display: flex;
        align-items: center;
        padding-bottom: 1%;
        margin-left: 5px;
        width: 100%;
    }
    
    .circle {
        width: 30px;
        height: 22px;
        border: 2px solid #e0e0e0;
        border-radius: 25px;
        margin-right: 10px;
    }


    /*** POPULAR ACCOMODATIONS ***/


    .accomodations {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 300px;
    }

    .marginTitleAccomodations {
        margin-right: -20px;
    }

    .sizePopularAccomodationsArea {
        height: 650px;
        width: 100%;
    }

    /* .globalContainerPopularAccomodations {
        padding-left: 10px;
        padding-right: 10px;
    } */

    .popularAccomodationCard {
        background-color: white;
        height: 130px;
        width: 320px;
        padding: 1.5% 0 1.5% 1.5%;
        border-radius: 20px;
    }

    .popularAccomodationCardMargin {
        margin-bottom: 20px;
    }

    .descriptionPopularAccomodation {
        height: 130px;
        width: 60%;
        padding-left: 5%;
        padding-bottom: 5px;
    }

    .picturePopularAccomodations {
        object-fit: cover;
        width: 35%;
        height: 130px;
        border-radius: 15px 0 0 15px;
    }


    /*** RESPONSIVE : ACCOMODATIONS ***/


    .backgroundAccomodations {
        background-color: white;
    }
        
    .sizeAccommodationsArea {
        flex: 1;
        height: 650px;
        width: 350px;
        margin: 0px;
        padding: 0px;
        border-radius: 10px;
    }

    .containerPadding {
        padding-left: 60px;
        
    }

    .containerAccomodations-1 {
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }

    .containerAccomodations-2 {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .accomodationCard {
        background-color: white;
        width: 90%;
        height: 90%;
        padding: 5px;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 5px #F2F2F2;
    }

    .descriptionAccomodation {
        width: 100%;
    }

    .descriptionAccomodationsTitle {
        margin-top: 10px;
        margin-bottom: -15px;
    }

    .pictureAccomodations {
        object-fit: cover;
        width: 100%;
        height: 120px;
        border-radius: 15px 15px 0 0;
    }


    /*** RESPONSIVE ACTIVITIES ***/

        
    .activities {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 350px;
        height: 1400px;
        /* background-color: grey; */
    }

    .titlePosition {
        height: 70px;
    }

    .activitiesTitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 5%;
        width: 95%;
    }

    .globalContainerActivities-1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 600px;
    }

    .globalContainerActivities-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 550px;
    }

    .containerActivities-1 {
        width: 100%;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px #F2F2F2;
        margin-bottom: 15px;
    }

    .containerActivities-2 {
        width: 100%;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px #F2F2F2;
        margin-bottom: 15px;
    }

    .pictureLargeActivities {
        object-fit: cover;
        width: 100%;
        height: 140px;
        border-radius: 15px 15px 0 0;
    }

    .pictureMediumActivities {
        object-fit: cover;
        width: 100%;
        height: 140px;
        border-radius: 15px 15px 0 0;
    }

    .pictureMediumActivities-2 {
        object-fit: cover;
        width: 100%;
        height: 140px;
        border-radius: 15px 15px 0 0;
    }

    .pictureSmallActivities {
        object-fit: cover;
        width: 100%;
        height: 140px;
        border-radius: 15px 15px 0 0;
    }

    .pictureSmallActivities-2 {
        object-fit: cover;
        width: 100%;
        height: 140px;
        border-radius: 15px 15px 0 0;
    }

    
    /*** RESPONSIVE FOOTER ***/


    .footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 500px;
        width: 400px;
        margin-top: 0px;
    }
    
    .footerMarginsLeft {
        margin-left: 0%;
    }
    
    .footerMarginRight {
        margin-right: 0%;
    }
}